.banner{
    width: 100vw;
    height: 100vh;
    opacity: 0.6;
}
.banner-text{
    margin-bottom: 450px;
    
}
.banner-text h5{
    font-size: 40px;
    color: rgb(14, 13, 13);
}
.banner-text p{
    font-size: 20px;
    color:  rgb(15, 15, 15);
}
.button1{
    border:1px solid rgb(219, 219, 231);
    padding:15px 30px;
    background-color: rgb(235, 6, 6);
    margin-right: 15px;
    border-radius: 15px;
    color: white;
}
.button2{
    border:1px solid rgb(219, 219, 231);
    padding:15px 30px;
    background-color:  rgb(235, 6, 6);
    border-radius: 15px;
    color:white
}